@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    padding-top: $nav-height;
    color : $color;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.container {
    max-width: 110rem;
    padding: 0 4rem;
    height: 100%;
    margin: 0 auto;
}