@use './variables' as *;
@use './base' as *;
@use './sections/nav' as *;
@use './sections/main' as *;
@use './sections/about' as *;



@media screen and (max-width:1200px) {
    .container {
        max-width: 95rem;
    }
    .main {
        &__text-title {
            font-size: 5rem;
            line-height: 6rem;
        }
    }
}


@media screen and (max-width:992px) {
    .container {
        padding: 0;
        width: 80%;
    }
    .main {
        height: auto;
            padding: 50px 0;
        &__info {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            text-align: center;
            width: 100%;
            order: 2;
        }
        &__img {
            width: 60%;
            order: 1;
            margin-bottom: 30px;
        }
        &__skills {
            flex-wrap: wrap;

        }
        &__skills-title {
            width: auto;
            text-align: center;
            font-size: 2rem;
            padding: 10px;
            margin: 0 auto 20px;
            border-right:0;
            border-bottom: 3px solid;
        }
        &__skills-list {
            width: 100%;
            justify-content: center;
        }
    }
    .about {
        padding: 60px 0;
        &__block {
            flex-direction: column;
            text-align: center;

        }
        &__img {
            width: 100%;
            padding: 0;
            margin-bottom: 25px;
            img {
                width: 70%;
            }
        }
        &__me {
            width: 100%;
        }
    }
    
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-body-active {
        overflow-y: hidden;
    }
    .container {
        width: 85%;
    }
    .nav {
        padding: 0 25px;
        &__links {
            width: 100%;
            height: calc(100vh - $nav-height);
            background-color: #fff;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: $nav-height;
            left: 0;
            transform: translateX(-100%);
            z-index: 20;
        }
        .active {
            transform: translateX(0);
            box-shadow : inset $box-shadow;
        }
        &__link {
            margin: 30px;
        }
        &__burger {
            display: flex;
            align-items: center;
        }
        .burger_active {
            justify-content: center;
            span:nth-child(1) {
                transform: translateY(100%) rotate(45deg);
            }
            span:nth-child(2) {
                width: 0;
            }
            span:nth-child(3) {
                transform: translateY(-100%) rotate(-45deg);
            }
        }
    }
    .about{
        padding: 40px 0;
        &__img {
            img {
                width: 80%;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    $nav-height : 60px;
    .nav {

        padding: 0 20px;
        &__logo {
            font-size: 2rem;
        }
    }
    .container {
        width: 100%;
        padding: 0 25px;
    }
    .main {
        &__text-title {
            font-size: 3.5rem;
            line-height: 4.5rem;
        }
        &__text-desc {
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
        &__img {
            width: 70%;
        }
    }
    .about {
        &__me {
            &-title {
                font-size: 2.5rem;
                line-height: 3.2rem;
            }
        }
    }
}