@use '../variables' as *;
main {
    background-color: $section-bg-color-1;
        width: 100%;
        height: calc(100vh - $nav-height);
}
.main {
    
    &__block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 50px;
    }
    &__text {
        width: 60%;
        height: 100%;
        height: auto;
        &-title {
            font-size: 6rem;
            line-height: 7rem;
            margin-bottom: 20px;
        }
        &-desc {
            color : $secondary-color;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3rem;
        }
    }
    &__img {
        width: 30%;
        height: 100%;
        // min-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:aqua;
        border: 3px solid #000;
        border-radius: 50% 40% 30% 70% / 50% 30% 70% 55%;
        animation: image__border 8s infinite linear;
    }

    &__skills {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        &-title {
            font-size: 2rem;
            font-weight: 500;
            padding: 0px 15px;
            margin-right: 50px;
            border-right: 3px solid $secondary-color;
        }
        &-list {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
    }
    &__skill {
        width: 60px;
        height: 60px;
        margin: 10px;
        border-radius:50%;
        box-shadow : $box-shadow;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 60%;
        }
    }
}




/*------Main Img Animation--------*/
@keyframes image__border {
    0% {
        border-radius: 50% 40% 30% 70% / 50% 30% 70% 55%;
    }
    20% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    40% {
        border-radius: 58% 42% 54% 46% / 60% 67% 33% 40%;
    }
    60% {
        border-radius: 72% 28% 73% 27% / 26% 36% 64% 74%;
    }
    80% {
        border-radius: 23% 77% 46% 54% / 57% 66% 34% 43%;
    }
    100% {
        border-radius: 50% 40% 30% 70% / 50% 30% 70% 55%;
    }
}