@use '../variables' as *;
.nav {
    font-weight: 600;
    width: 100%;
    background-color: #fff;
    height: $nav-height;
    padding: 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow;
    z-index: 100;
    &__logo {
        font-size: 2.5rem;
        font-weight: 700;
    }
    &__links {
        list-style: none;
        display: flex;
        transition: $normal-transition;
    }
    &__link {
        font-size: 1.8rem;
        margin-left: 25px;
        a {
            color : #000;
        }
    }
    &__burger {
        width: 28px;
        height: 18px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        span {
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: $normal-transition;
        }
    }
}